@import "./record.scss";

p {
  margin: 0;
}

.header {
  background-color: rgb(220, 50, 50);
  height: 30px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 0.5rem;
  &-menu {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
  }
}

.content {
  height: calc(100vh - 30px - 24px);
}

.footer {
  background-color: royalblue;
  height: 24px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 0.5rem;
}
