@import "./record.scss";

p {
  margin: 0;
}

.header {
  background-color: rgb(220, 50, 50);
  height: 30px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 0.5rem;
  &-title {
    display: flex;
    gap: 0.3rem;
    font-weight: 600;
  }
  &-menu {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
  }
}

.content {
  height: calc(100vh - 30px - 24px);
}

.footer {
  background-color: royalblue;
  height: 24px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 0.5rem;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #e5e7eb;
}

*::-webkit-scrollbar-thumb {
  background-color: #c6cad3;

  border-radius: 10px;

  border: 3px solid #e5e7eb;
}
